__pycache__
*.pyc
*.log
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.*.yml
docker-compose.yml
tests/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
site/

# Editor-specific files
.vscode/
.idea/
